.footer {
  height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 2em;
    background-color: #8a8a8af6;
    color: #ffffff;
    text-align: center;
  }
  
  .contactInfo {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  .contactInfo p {
    margin: 0.2em 0;
  }
  
  .contactInfo a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contactInfo a:hover {
    color: #ff6347;
  }
  